@charset "utf-8";

html,body{
 	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width:100%;
	height:100%;
}

.navigation{
	z-index:1;
	top:0px;
	padding:5px;
	width: 100%;
	height:40px;
	padding-top: 20px;
	background-color: #dc9f0c;
}
.navigation h1{font-size:18px;}
.itens{
	float:left;
}
.itens li{
	display: table;
	border-bottom: 1px solid black;
}

.itens img{

	float:left;
}
.itens h2{
	font-size:18px;
}

.iten .dts{
	width:300px;
	padding:5px;
	margin:5px;

}

.iten{
	float:left;
}
