@charset "utf-8";

html,body{
 	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width:100%;
	height:100%;
}

.navigation{
	z-index:1;
	top:0px;
	padding:5px;
	width: 100%;
	height:40px;
	padding-top: 20px;
	background-color: #35c2d8;
}
.navigation h1{font-size:18px;}

.itens{
	float:left;
	width: 100%;

}
.itens ul{
	width: 100%;

}

.itens li{
	display: table;
	border: 1px solid black;
	width: 100%;

}

.itens img{
 border:1px solid  #35c2d8;
	float:left;
	margin-right:10px;
}
.itens h2{
	font-size:18px;
}

.iten .dts{
	padding:10px;
	margin:10px;
	width: 100%;

}

.iten{
	float:left;
		width: 100%;
	padding: 10px 0 10px 10px;

}
